* {
  box-sizing: border-box;
  margin: 0;
  /* border: 2px solid purple; */
  color: white;
}
h1 {
  text-align: center;
}
.turn {
  display: flex;
  justify-content: space-between;
}
.one,
.two {
  font-size: 2rem;
  padding: 1rem;
}
body {
  background-color: #3c2a21;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.grid {
  height: 30rem;
  width: 30rem;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  font-family: "Courier New", Courier, monospace;
}

.modal::backdrop {
  background: rgb(0 0 0 / 0.5);
}

.again {
  background-color: #1a120b;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  color: white;
}
