@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
:root {
  --brown: #3c2a21;
  --dark-brown: #1a120b;
  --yellow: #d5cea3;
  --light-yellow: #e5e5cb;
}
* {
  box-sizing: border-box;
  color: #e5e5cb;
  font-family: "Share Tech Mono", monospace;
}
html {
  height: 100%;
}
h1 {
  text-align: center;
  font-weight: 700;
}

.turn {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 2rem;
}
.print-turn {
  font-size: 1rem;
}
.one,
.two {
  font-size: 1.7rem;
  padding: 0.5rem 1rem;
}
body {
  background-color: #3c2a21;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.print-turn {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}
.grid {
  height: 30rem;
  width: 30rem;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  font-family: "Courier New", Courier, monospace;
}
.cell:hover {
  cursor: pointer;
  background-color: var(--brown);
  opacity: 0.5;
}
.modal {
  text-align: center;
  width: 28rem;
}
.modal::backdrop {
  background: rgb(0 0 0 / 0.5);
}

.again {
  background-color: #1a120b;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  color: white;
}
